
<div class="jumbotron">
  <div class="container">
  <h1>Pick your favorite exercises</h1>
</div>
</div>

<div class="container">
  <div class="row">
<div class="col-lg-4">
    <a href="/user_profile"><< Back to Profile</a><br><br>
<%= form_for @user, :url => {:action => "assign"}, :method => :POST do %>
  <% @exercises.each do |e| %>
  <%= check_box_tag(e[:id]) %>
  <%= label_tag(e[:exercise_name]) %></br>
  <% end %>
  <%= submit_tag("Submit") %>
  <% end %>
</div>
</div>
</div>
