<div class="jumbotron">
  <div class="container">
  <h1>User Profile</h1>
</div>
</div>


<%= link_to "See your matches!", users_match_path, class: 'btn btn-primary btn-sm'%></br>
<%= link_to "Find other users", users_show_path, class: 'btn btn-primary btn-sm' %></br>
<%= link_to "Change your exercise preferences", users_exercises_path, class: 'btn btn-primary btn-sm' %></br>
<%= link_to "Sign out", logout_path, class: 'btn btn-primary btn-sm' %>
