<h1>User Profile</h1>
<%= link_to "See your matches!", users_match_path %></br>
<%= link_to "Find other users", users_show_path %></br>
<%= link_to "Change your exercise preferences", users_exercises_path %></br>
