<div class="jumbotron">
  <div class="container">
  <h1>Explore Your Matches!</h1>
</div>
</div>


<% @result.each do |user| %>
<h2><%= user[:user_name] %></h2>

<% user[:matches].each do |e| %>
<%= e[:exercise_name] %>
<% end %>
<% end %>
